
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SpiritBoost</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> -->
  </head>

    <body class="body">
        <nav class = "navbar navbar-expand-md navbar-dark" style="background-color: #dbcdcd">
                <a href="#" class = "navbar-brand mb-0 h2 active"> 
                    <img class="d-inline-block align-top" src="../assets/img/pig.png" width="100" height="100">
                    @SpiritBoost
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler icon">Menu</span></button>
            
            
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a href="#" class="nav-link active">
                            Home
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a href="#" class="nav-link active">
                                About
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a href="#" class="nav-link active">
                                BlaBla
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Management
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addCustomerModal">Add</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <form class="form">
                        <input type="search" (ngModelChange)="searchCustomers(key.value)" #key="ngModel" ngModel name="key" class="form-control mr-sm-2"  placeholder="Search" aria-label="Search">
                      <!--    <button class="btn btn-light my-sm-2" type="submit">Search</button> -->
                    </form>
                </div>             
        </nav>


        <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    oh yeah
  </button> -->


        <!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ok!! heelo!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" >Do sth</button>
        </div>
      </div>
    </div>
  </div>
 -->
<!--   <script>
    $('#btn').on('shown.bs.modal', function () {
  $('#exampleModal').trigger('show')
})
  </script> -->

<!-- next : hide popup -->



        <!--Edit Modal -->
<div class="modal fade" id="updateCustomerModal" tabindex="-1" aria-labelledby="updateCustomerModalLable" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Customers</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
              <label for="exampleInputFirstName">Name</label>
              <input type="text" required ngModel="{{editCustomer?.name}}"  name= "name" class="form-control" id="exampleInputFirstName1" aria-describedby="FirstNameHelp" placeholder="">
            </div>
            <div class="form-group">
              <label for="exampleInputOccupation">Occupation</label>
              <input type="text"  class="form-control" id="exampleInputOccupation1" aria-describedby="OccupationHelp" placeholder="">
            </div>
            <div class="form-group">
              <label for="exampleInputPhone">Phone</label>
              <input type="text"  ngModel name= "phone" class="form-control" id="exampleInputPhone1" aria-describedby="PhoneHelp" placeholder="">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" required ngModel="{{editCustomer?.password}}" name= "password" class="form-control" id="exampleInputPassword2" placeholder="">
            </div>
            <div class="modal-footer">
              <button type="button" id="edit-customer-form" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
              <button (click)="onUpdateCustomer(editForm.value)"  data-dismiss="modal" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>


  <!-- Delete Modal -->
<div class="modal fade" id="deleteCustomerModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Customer</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure to delete Customer {{deleteCustomer?.name}}?
        </div>
        <div class="modal-footer">
          <button id = "delete-form" type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button (click)="onDeleteCustomer(deleteCustomer.id)" data-dismiss="modal" class="btn btn-primary">yes</button>  <!-- pass paramter from global variable -->
        </div>
      </div>
    </div>
  </div>

          <!--Add Modal -->
          <div class="modal fade" id="addCustomerModal" tabindex="-1" aria-labelledby="addCustomerModalLable" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Customer details</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form #addForm="ngForm" (ngSubmit)="onAddCustomer(addForm)">   <!-- NgForm 把表单内容变成json -->
                    <div class="form-group">
                      <label for="exampleInputFirstName">Name</label>
                      <input type="text" required ngModel name= "name" class="form-control" id="exampleInputName" aria-describedby="FirstNameHelp" placeholder="">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputOccupation">Occupation</label>
                      <input type="text" ngModel name= "Occupation" class="form-control" id="exampleInputOccupation" aria-describedby="OccupationHelp" placeholder="">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPhone">Phone</label>
                      <input type="text" required ngModel name= "Phone"  class="form-control" id="exampleInputPhone" aria-describedby="PhoneHelp" placeholder="">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" required ngModel name= "password" class="form-control" id="exampleInputPassword1" placeholder="">
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1"></label>
                    </div>
                    <div class="modal-footer">
                      <button type="button" id="add-customer-form" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
                      <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">add</button>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </div>

            <!-- Notification for no customers -->
  <div *ngIf="customers?.length ==0 " class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">NO Customers!</h4>
      <p>No customers were found.</p>
    </div>
  </div> 




        <!-- Button trigger modal-->



         <div class="container" id="MainContainer">
            <div class="row">
                <div *ngFor='let customer of customers' class="col-md-6 col-xl-3">
                    <div class="card m-b-30">
                        <div class="card-body row">
                            <div class="col-6">
                                <a href=""><img src="../assets/img/pig_head.png" alt="" class="img-fluid rounded-circle w-60"></a>
                            </div>
                            <div class="col-6 card-title align-self-center mb-0">
                                <h5>{{customer?.name}}</h5>
                                <p class="m-0">software Engineer</p>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                        <!--    <li class="list-group-item"><i class="fa fa-pencil float-right"></i>Id : {{customer?.id}}</li> --> 
                            <li class="list-group-item"><i class="fa fa-pencil float-right"></i>Password : {{customer?.password}}</li>
                            <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{customer?.phone}}</li>
                        </ul>
                        <div class="card-body">
                            <div class="float-right btn-group btn-group-sm">
                              <a class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit" (click)="onOpenModal(customer,'edit')" ><i class="fa fa-pencil"></i></a>
                              <a class="btn btn-secondary tooltips" data-placement="top"  data-original-title="Delete" (click)="onOpenModal(customer,'delete')"><i class="fa fa-times"></i></a>
                            </div>
<!--                             <ul class="social-links list-inline mb-0">
                                <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                                <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </body>
</html>






